.label {
  color: var(--header-secondary);
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: inline-block;
}

.inputSelectWapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.errorMessage {
  color: var(--status-danger);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 4px;
}
