.iconWrapper {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--interactive-normal);
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
