@import url("https://fonts.cdnfonts.com/css/gg-sans-2");

:root {
  --text-danger: rgb(250, 119, 124);
  --header-primary: rgb(242, 243, 245);
  --header-secondary: rgb(181, 196, 183);
  --text-normal: rgb(219, 222, 225);
  --input-background: rgb(30, 31, 34);
  --text-link: rgb(0, 168, 252);
  --background-modifier-accent: rgba(78, 80, 88, 0.48);
}
