.customButtonHeadd {
  width: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--background-tertiary);
  box-shadow: none;
  color: var(--text-muted);
  text-align: left;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}
